<h2>Delete All Posts by <%= @username %></h2>
<p>Are you sure you want to delete all posts by <%= @username %>?</p>
<%= button_to "Delete All Posts", admin_plugins_delete_user_posts_path(@username), method: :delete %>
